<section id="features">
  <div class="content" data-aos="fade-left" data-aos-duration="1000">
    <img src="../../../assets/gifs/celular-rotacao.gif" alt="gif" class="gif">
    <div class="text">
      <h3>Experiência Superior com o SuperPhone Pro</h3>
      <p>
        Este é um novo texto para demonstrar a flexibilidade do SuperPhone.
        Com sua tecnologia de ponta e design elegante, o SuperPhone redefine a
        experiência do usuário.
      </p>
    </div>
  </div>

  <div class="content" data-aos="fade-right" data-aos-duration="1000" aos>
    <div class="text">
      <h3>Elegância em Movimento com o SuperPhone Elite</h3>
      <p>
        Este é um novo texto para demonstrar a flexibilidade do SuperPhone.
        Com sua tecnologia de ponta e design elegante, o SuperPhone redefine a experiência
        do usuário.
      </p>
    </div>
    <img src="../../../../assets/images/celular_image_5.png" alt="gif" class="gif">
  </div>

</section>
