@import "../../scss/variables";

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 20px;

  img {
    object-fit: cover;
  }

  #specs {
    display: flex;
    flex-direction: column;
    position: relative;

    div {
      width: 400px;
      cursor: pointer;
      div {
        display: flex;
        align-items: center;

        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
        h2 {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }

      p {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }

      .selected {
        position: relative;
        transition: all 0.3s ease-in-out;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: $screen-lg) {
  main {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;

    #specs {
      margin-top: 20px;
      div {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
