main {
  margin-top: 50px;

  #design {
    margin-top: 20px;
    height: 650px;
    background-color: #5E697B;
    display: flex;
    justify-content: center;
    align-items: center;

    #image {
      background-image: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      width: 600px;
      height: 500px;
    }

    .text {
      margin-left: 50px;
      width: 500px;
    }

    h3 {
      color: #fff;
      font-size: 2.2rem;
      font-weight: 700;
      margin-top: 10px;
      background: -webkit-linear-gradient(45deg, #EDE1D6, #817D9C, #61697C);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      color: #fff;
      font-size: 1rem;
      font-weight: 300;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    #design {
      flex-direction: column;
      height: 100%;
      padding: 20px;

      #image {
        width: 100%;
        height: 300px;
      }

      .text {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;

        h3 {
          text-align: center;
        }
      }
    }
  }

}

@media screen and (max-width: 576px) {
  main {
    #design {
      #image {
        width: 260px;
        height: 200px;
      }
    }
  }
}
