<main>
  <app-carrousel></app-carrousel>

  <section id="design" data-aos="fade-up" data-aos-duration="1000">
    <img src="../../../assets/images/celular_image_6.png" alt="Imagem do celular" id="image">
    <div class="text">
      <h3>Design Inovador</h3>
      <p>
        Apresentamos o SuperPhone, uma fusão inovadora de tecnologia de ponta e estética elegante.
        Este design revolucionário de celular redefine a elegância e a funcionalidade na palma da
        sua mão.
      </p>
      <p>
        Elaborado com uma mistura harmoniosa de vidro e metal, o SuperPhone ostenta
         um impressionante display de ponta a ponta que se curva suavemente para dentro da estrutura do dispositivo. Este visor imersivo não apenas cativa com suas cores vibrantes e clareza nítida, mas também oferece uma experiência visual
         ininterrupta para usuários que buscam o extraordinário.
      </p>
      <p>
        O exterior elegante e minimalista do SuperPhone esconde um
        centro de inovação por trás de sua superfície. Um sistema de câmera quad de última geração, integrado discretamente ao dispositivo, captura os momentos da vida com uma precisão incomparável. Seja paisagens expansivas ou sutilezas de uma foto de close, o SuperPhone
        garante que cada detalhe seja preservado em uma clareza impressionante.
      </p>
    </div>
  </section>

  <section id="features">
    <div class="content" data-aos="fade-left" data-aos-duration="1000">
      <img src="../../../assets/gifs/celular-rotacao.gif" alt="gif" class="gif">
      <div class="text">
        <h3>Experiência Superior com o SuperPhone Pro</h3>
        <p>
          Este é um novo texto para demonstrar a flexibilidade do SuperPhone.
          Com sua tecnologia de ponta e design elegante, o SuperPhone redefine a
          experiência do usuário.
        </p>
      </div>
    </div>

    <div class="content" data-aos="fade-right" data-aos-duration="1000" aos>
      <div class="text">
        <h3>Elegância em Movimento com o SuperPhone Elite</h3>
        <p>
          Este é um novo texto para demonstrar a flexibilidade do SuperPhone.
          Com sua tecnologia de ponta e design elegante, o SuperPhone redefine a experiência
          do usuário.
        </p>
      </div>
      <img src="../../../assets/gifs/celular-rotacao.gif" alt="gif" class="gif">
    </div>

  </section>

  <section id="apresetation">
    <div>
      <h3>Apresentação do SuperPhone</h3>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/D0UnqGm_miA?si=Yr5kcxdGBy6Znt2k"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p>
        Este é um novo texto para demonstrar a flexibilidade do SuperPhone.
        Com sua tecnologia de ponta e design elegante, o SuperPhone redefine a experiência do usuário.
      </p>
    </div>
  </section>
</main>
